<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.akina.qmoj.mapper.QmojLanguageMapper">
  <resultMap id="BaseResultMap" type="team.akina.qmoj.entity.QmojLanguage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="team.akina.qmoj.entity.QmojLanguage">
    <result column="code" jdbcType="LONGVARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lang, create_time, modify_time, question_id
  </sql>
  <sql id="Blob_Column_List">
    code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from qmoj_language
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from qmoj_language
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="team.akina.qmoj.entity.QmojLanguage">
    insert into qmoj_language (id, lang, create_time, 
      modify_time, question_id, code
      )
    values (#{id,jdbcType=BIGINT}, #{lang,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{questionId,jdbcType=INTEGER}, #{code,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.akina.qmoj.entity.QmojLanguage">
    insert into qmoj_language
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lang != null">
        lang,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="code != null">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.akina.qmoj.entity.QmojLanguage">
    update qmoj_language
    <set>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="team.akina.qmoj.entity.QmojLanguage">
    update qmoj_language
    set lang = #{lang,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      question_id = #{questionId,jdbcType=INTEGER},
      code = #{code,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.akina.qmoj.entity.QmojLanguage">
    update qmoj_language
    set lang = #{lang,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      question_id = #{questionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>